<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742131478771-0t0ob5npvosdklfhsuld7jm7ss6ij8es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742131478771-0t0ob5npvosdklfhsuld7jm7ss6ij8es</string>
	<key>API_KEY</key>
	<string>AIzaSyDYEtZtFQ_VAnFOgXIHjrTnT9YgsTc9X0w</string>
	<key>GCM_SENDER_ID</key>
	<string>742131478771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusMart</string>
	<key>PROJECT_ID</key>
	<string>campus-market-f0309</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-market-f0309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742131478771:ios:97f62aed7a3746ef718786</string>
	<key>DATABASE_URL</key>
	<string>https://campus-market-f0309.firebaseio.com</string>
</dict>
</plist>